{% if template != 'index' %}
    <nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
        <div class="container">
            <ul>
                <li><a href="/" title="Home">Home</a></li>
            {% if template contains 'page' %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                <li >{{ page.title }}</li>
                {% elsif template contains 'product' %}
                {% if collection.url %}
                    <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                    <li><a>{{ collection.title | link_to: collection.url }}</a></li>
                {% endif %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                <li>{{ product.title }}</li>
                {% elsif template contains 'collection' and collection.handle %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                {% if current_tags %}
                    {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
                    {{ collection.title | link_to: url }}
                    <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                    <li>{{ current_tags | join: " + " }}</li>
                {% else %}
                    <li>{{ collection.title }}</li>
                {% endif %}
                {% elsif template == 'blog' %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                {% if current_tags %}
                    {{ blog.title | link_to: blog.url }}
                    <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                    <li>{{ current_tags | join: " + " }}</li>
                {% else %}
                    <li>{{ blog.title }}</li>
                {% endif %}
                {% elsif template == 'article' %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                {{ blog.title | link_to: blog.url }}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                <li>{{ article.title }}</li>
            {% else %}
                <span aria-hidden="true" class="breadcrumb-arrow">&rsaquo;</span>
                <li>{{ page_title }}</li>
            {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}