<ul class="site-nav list--inline container{{ nav_alignment }}" id="SiteNav">
    {% for link in linklists[section.settings.main_linklist].links %}
        {%- assign child_list_handle = link.title | handleize -%}

        {% comment %}
            Check if third-level nav exists on each parent link.
        {% endcomment %}
        {%- assign three_level_nav = false -%}
        {%- assign one_level_nav = false -%}

        {% if link.links != blank %}
            {% if link.levels == 1 %}
                {%- assign three_level_nav = true -%}
                {%- assign one_level_nav = true -%}
            {% endif %}
        {% endif %}

        {% if link.links != blank %}
            {% if link.levels == 2 %}
                {%- assign three_level_nav = true -%}
            {% endif %}
        {% endif %}

        {% if link.links != blank %}
            <li class="navigation-link nav-has-dropdown{% if three_level_nav %}{% endif %}{% if link.active %}{% endif %}">
                <a href="{{ link.url }}" class="link-main">{{ link.title }}</a>

                {% comment %} if link has dropdown {% endcomment %}

                <div class="container-level-1 {% if one_level_nav %}only-one-level{% endif %}">
                    {% if three_level_nav %}
                    <ul class="drop-level-1">
                        {% if link.links != blank %}
                            {% for childlink in link.links %}

                                {% if one_level_nav == false %}
                                    <div class="col-in-drop-level-1">

                                {% endif %}

                                <li class="link-in-level-1">
                                    {% if childlink.links == blank %}
                                        <a href="{{ childlink.url }}"
                                           class="link-to-page link-menu-only-one-level"{% if childlink.active %} aria-current="page"{% endif %}>
                                            {{ childlink.title | downcase }}
                                        </a>

                                    {% else %}

                                        <h2 class="header-links-in-level-1">{{ childlink.title | downcase }}</h2>
                                        <ul>
                                            {% for grandchildlink in childlink.links %}
                                                <li class="link-in-level-1">
                                                    <a href="{{ grandchildlink.url }}"
                                                       class="link-to-page" {% if grandchildlink.active %} aria-current="page"{% endif %}>
                                                        {{ grandchildlink.title | escape }}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                                {% if one_level_nav==false %}
                                    </div>
                                {% endif %}
                            {% endfor %}

                            {% if link.levels == 1 %}
                                {%- assign three_level_nav = true -%}

                            {% endif %}

                        {% endif %}

                        {% else %}
                            <ul>
                                {% for childlink in link.links %}
                                    <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                                        <a href="{{ childlink.url }}"
                                           class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}"{% if childlink.active %} aria-current="page"{% endif %}>
                                            {{ childlink.title | escape }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    </ul>
                </div>
            </li>

        {% else %}
            {%- assign customPointWithSubmenu = false -%}
            {% if link.type == 'blog_link' %}
                {%- assign customPointWithSubmenu = true -%}
                {% elsif link.type == 'catalog_link' %}
                {%- assign customPointWithSubmenu = true -%}
            {% endif %}

            <li class="navigation-link {% if customPointWithSubmenu %}nav-has-dropdown{% endif %}">
                <a href="{{ link.url }}" class="link-main">{{ link.title }}</a>

                {% if link.type == 'blog_link' %}
                    <div class="container-level-1">
                        {% for article in blogs.news.articles %}
                            <div class="container-blog">
                                <div class="col-blog">
                                    <div class="blog-img">
                                        <img src="{{ article.image.src | img_url: 'large' }}"/>
                                    </div>
                                    <div class="blog-info">
                                        <a href="{{ article.url }}">
                                            <div class="blog-name">{{ article.title }}</div>
                                        </a>
                                        <div class="blog-content">{{ article.content }}</div>
                                        <div class="blog-button"><a class="link-read-more" href="{{ article.url }}"><span class="read-more">Read more</span></a></div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    {% elsif link.type == 'catalog_link' %}

                    <div class="container-collection">
                        {% for product in collections.sale.products limit:3 %}
                            <div class="product">
                                <div class="product-img">
                                    <a href="{{ product.url | within: collection }}" class="product-url">
                                        <img class="product-img" src="{{ product.featured_image | product_img_url: 'grande' }}" alt="{{ product.title | escape }}"/>
                                    </a>
                                </div>
                                <div class="product-name">
                                    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
                                </div>
                                <div class="product-price">
                                    {% include 'product-price' %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}
            </li>


        {% endif %}

    {% endfor %}
</ul>